{% extends "@project/layout.html.twig" %}

{% block content %}
<section id="registration">
    <h1>Registration</h1>
    <form method="post">
        {{ form_widget(form) }}
        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}
